body {
    padding-top: 40px;
}

/*--- Custom Font ---*/
.amatic-4 {
    font-family: 'Amatic SC', cursive;
    font-size: 4em;
    text-shadow: 0.05em 0.05em 0.05em #aaa;
}
.amatic-2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
}
#monserrat-300 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.monserrat-300-1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
}
.monserrat-700-16 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16.5vw;
    font-weight: 600;
}
.monserrat-700-22 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22vw;
    font-weight: 600;
}

.icon-size {
    width: 14vw;
    padding: 1vw;
}
#img-padding {
    padding: 0px; !important;
}

/*--- Custom Color ---*/
.white {
    background-color: #FFFFFF;
}

.light-gray {
    background-color: #f2f2f2;
}

/*--- Custom Text Color ---*/
.text.white {
    color: #FFFFFF;
}
.text.grey {
    color: #CCCCCC;
}
.text.black {
    color: #1B1C1D;
}
.text.yellow {
    color: #F2C61F;
}
.text.teal {
    color: #00B5AD;
}
.text.light-teal {
    color: #3FBCA7;
}
.text.red {
    color: #D95C5C;
}
.text.purple {
    color: #564F8A;
}
.text.pink {
    color: #D9499A;
}
.text.orange {
    color: #E07B53;
}
.text.green {
    color: #5BBD72;
}
.text.blue {
    color: #3B83C0;
}



